rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      // 自分のデータのみ読み取り可能。
      allow read: if request.auth != null && request.auth.uid == userId;
      // TODO: スキーマのバリデーション
      allow create: if request.auth != null;
    }
  }
}
