// import { style } from "@vanilla-extract/css";

// export const imageContainer = style({
//   display: "grid",
//   gridColumn: "span 2 / span 2",
//   placeContent: "center",
// });
.imageContainer {
  display: grid;
  grid-column: span 2 / span 2;
  place-content: center;
}

.image {
  border-radius: 2px;
  object-fit: cover;
  width: 256px;
  height: 144px;

  @media screen and (max-width: 768px) {
    width: 320px;
    height: auto;
    max-height: 180px;
  }
}

// export const image = style({
//   borderRadius: "2px",
//   objectFit: "cover",
//   width: "256px",
//   height: "144px",
//   "@media": {
//     "screen and (max-width: 768px)": {
//       width: "320px",
//       height: "auto",
//       maxHeight: "180px",
//     },
//   },
// });
