.link {
  color: #0f83fd;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}
.archiveListContainer {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.archiveListHeader {
  font-weight: bold;
}
.iconContainer {
  width: 30px;
  height: 30px;

  &:hover {
    color: rgb(82 82 91);
    transform: scale(1.05);
  }
}
