@import "./media-query.scss";

div.tex-equations {
  overflow-x: auto;
}

#page-title {
  margin: 1em 0 1em 0;
  line-height: 1.5em;
  word-wrap: break-word;
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  font-weight: 700;

  @include pc {
    font-size: 2em;
  }

  @include mobile {
    font-size: 1.7em;
  }
}

.post-meta {
  margin: 2em 0 2em 1em;
}

.post-time-title {
  display: inline-block;
  width: 75px;
}

.post-content {
  margin-bottom: 120px;
  /deep/ img {
    text-align: center;
    @apply rounded;

    @include pc {
      width: 90%;
      max-width: 600px;
      margin: auto;
    }

    @include mobile {
      width: 100%;
    }
  }
}

.page {
  @apply text-base;
  padding: 1em;
  @apply rounded;
  @apply shadow-xl;

  /deep/ ::before,
  ::after {
    // this is necessary bacause of a border added by '@tailwind base'
    border: none;
  }

  /deep/ a {
    word-break: break-all;

    &:hover {
      text-decoration: underline;
    }
  }

  /deep/ h2 {
    margin: 2.5em 0 1.3em 0;
    font-size: 1.5em;
    padding: 0.25em 0.5em;
    background: transparent;
  }

  /deep/ h3 {
    margin: 2.5em 0 0 0;
    font-size: 1.5em;
    padding: 0.25em 0em;
    background: transparent;
  }

  /deep/ p {
    padding: 0.5em;
    margin: 1em 0 1em 0;
    @apply leading-relaxed;
  }

  /deep/ section {
    padding: 0.5em;
    margin: 1em 0 1em 0;
    line-height: 1.5em;
  }

  /deep/ hr {
    margin: 2em 0 2em 0;
  }

  /deep/ table {
    width: 100%;
  }

  /deep/ th {
    height: 2em;
    border-bottom: solid 1px #eee;
  }

  /deep/ td {
    height: 2em;
    border-bottom: solid 1px #eee;
  }

  /deep/ ul {
    @apply list-disc;
    margin-left: 40px;
  }

  /deep/ ol {
    @apply list-decimal;
    margin-left: 40px;
  }

  /deep/ li {
    display: list-item;
    word-break: break-all;
    margin: 0.3em 0 0.3em 0;
    @apply leading-normal;
  }

  /deep/ blockquote {
    position: relative;
    padding: 30px 15px 8px 15px;
    box-sizing: border-box;
    font-style: italic;
    @apply rounded;
  }

  /deep/ blockquote:before {
    display: inline-block;
    position: absolute;
    top: 5px;
    left: 3px;
    content: "“";
    font-family: sans-serif;
    color: #cfcfcf;
    font-size: 56px;
    line-height: 1;
  }

  /deep/ blockquote p {
    padding: 0;
    margin: 10px 0;
    line-height: 1.7;
  }

  /deep/ blockquote cite {
    display: block;
    text-align: right;
    color: #888888;
    font-size: 0.9em;
  }

  /deep/ code {
    @apply font-mono;
    @apply rounded;
    word-break: break-all;
    padding: 2px;
  }

  /deep/ pre {
    @apply rounded;
    padding: 0.7rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  /deep/ pre code {
    @apply font-mono;
    padding: 0;
    line-height: 1.2em;
    background-color: transparent;
    border: none;
    color: rgb(212, 214, 214);
    transition: 0.3s ease-in-out;
  }

  /deep/ code::before {
    content: none;
  }

  /deep/ code::after {
    content: none;
  }

  /deep/ .table-of-contents {
    padding: 0 0 1em 0;
    @apply rounded;
  }

  /deep/ .table-of-contents::before {
    display: block;
    font-weight: 600;
    padding: 1em;
    content: "目次";
    font-size: 1.2em;
    margin-bottom: 1em;
  }

  /deep/ .table-of-contents li {
    line-height: 1.3em;
  }

  /deep/ .katex-display {
    overflow: scroll;
  }

}

.light-mode .page,
.sepia-mode .page {
  /deep/ h1 {
    border-bottom: solid 3px #494949;
    transition: border-bottom 0.3s ease-in-out;
  }

  /deep/ h2 {
    border-left: solid 5px #494949;
    transition: border-left 0.3s ease-in-out;
  }

  /deep/ code {
    background: #e2e6e9;
    transition: background-color 0.3s ease-in-out;
  }

  /deep/ pre code {
    @apply bg-transparent;
  }

  /deep/ a {
    transition: 0.3s ease-in-out;
  }

  /deep/ blockquote {
    @apply bg-gray-200;
  }

  /deep/ .post-tag {
    @apply text-black;
  }
}

.light-mode .page {
  @apply bg-gray-100;

  /deep/ .table-of-contents {
    @apply bg-gray-200;
  }
}

.sepia-mode .page {
  background-color: #f0e2d0;

  /deep/ .table-of-contents {
    background-color: #ded0bf;
  }

  /deep/ code {
    background-color: #ded0bf;
  }

  /deep/ blockquote {
    background-color: #ded0bf;
  }

  /deep/ blockquote:before {
    color: #504231;
  }
}

.dark-mode .page {
  background-color: rgb(32, 32, 33);
  /deep/ h1 {
    border-bottom: solid 3px #bfbfbf;
    transition: border-bottom 0.3s ease-in-out;
  }

  /deep/ h2 {
    border-left: solid 5px #bfbfbf;
    transition: border-left 0.3s ease-in-out;
  }

  /deep/ code {
    background-color: rgb(39, 44, 51);
    transition: background-color 0.3s ease-in-out;
  }

  /deep/ pre code {
    @apply bg-transparent;
  }

  /deep/ a {
    transition: 0.3s ease-in-out;
  }

  /deep/ .table-of-contents {
    background-color: #171717;
  }

  /deep/ blockquote {
    background-color: #171717;
  }

  /deep/ .post-tag {
    @apply text-gray-400;
  }
}
