@import "./media-query.scss";

.post-tags {
  display: inline-block;
  margin-top: 0.5em;

  /deep/ a:hover {
    border-bottom: none;
  }
}

.light-mode .post-tag,
.sepia-mode .post-tag {
  border: solid 1px #c7c7c7;

  &:hover {
    border: solid 1px #41b38a;
    text-decoration: underline;
  }
}

.dark-mode .post-tag {
  border: solid 1px #525252;

  &:hover {
    border: solid 1px #41b38a;
    text-decoration: underline;
  }
}

.post-tag {
  display: inline-block;
  border-radius: 1em;
  &:hover {
    @apply shadow-lg;
  }

  @include pc {
    margin: 0 1em 0 0;
    font-size: 0.9em;
    padding: 0.5em 0.5em;

  }

  @include mobile {
    margin: 0 0.5em 0 0;
    padding: 0.5em 0.5em;
  }
}
