@media screen and (max-width: 767px) {
  .page {
    color: #3f3f3f;
    /* width: 80%; */
    /* margin: 25% 10% 25% 10%; */
    font-size: 0.9em;
  }
}

@media screen and (min-width: 768px) {
  .page {
    color: #3f3f3f;
    /* width: 50%;
    margin: 10% 25% 10% 25%; */
    font-size: 1em;
  }
}

div.tex-equations {
  overflow-x: auto;
}

#page-title {
  margin: 1em 0 1em 0;
  margin-left: 0;
  padding: 0;
  border: none;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  #page-title {
    font-weight: 600;
    font-size: 1.7em;
  }

  .page>>>img {
    margin-left: 10%;
    width: 80%;
  }
}

@media screen and (min-width: 768px) {
  #page-title {
    font-weight: 600;
    font-size: 2em;
  }

  .page>>>img {
    margin-left: 10%;
    width: 80%;
    max-width: 500px;
  }
}

.post-meta {
  color: #999;
  margin: 2em 0 2em 0;
}

.page>>>h1 {
  margin: 2.5em 0 1.5em 0;
  font-size: 1.8em;
  padding: 0.4em 0.5em;
  color: #494949;
  background: #f4f4f4;
  border-left: solid 5px #494949;
  border-bottom: solid 3px #d7d7d7;
}

.page>>>h2 {
  margin: 2.5em 0 1.3em 0;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  border-left: solid 5px #494949;
}

.page>>>h3 {
  margin: 2.5em 0 1.3em 0;
  font-size: 1.5em;
  padding: 0.25em 0.5em;
  color: #494949;
  background: transparent;
  /* border-bottom: solid 2px #494949; */

}

.page>>>p {
  padding: 0.5em;
  margin: 1em 0 1em 0;
  line-height: 1.5em;
}

.page>>>hr {
  margin: 2em 0 2em 0;
}

.page>>>table {
  width: 100%;
}

.page>>>th {
  height: 2em;
  border-bottom: solid 1px #eee;
}

.page>>>td {
  height: 2em;
  border-bottom: solid 1px #eee;
}

/* .page>>>a {
  text-decoration: none;
  color: rgb(187, 25, 87);
}
.page>>>a:hover {
  border-bottom: solid 1px rgb(187, 25, 87);
} */

@media screen and (max-width: 767px) {
  .page>>>ul {
    margin-left: 15px;
  }
  
  .page>>>ol {
    margin-left: 15px;
  }
}

@media screen and (min-width: 768px) {
  .page>>>ul {
    margin-left: 40px;
  }
  
  .page>>>ol {
    margin-left: 40px;
  }
}


.page>>>li {
  display:list-item;
  margin: 0.5em 0 0.5em 0;
}

.page>>>blockquote {
  /* quotes: '“' '”' '‘' '’'; */
  padding: 1em;
  background-color: #f7f7f7;
  color: rgb(72, 70, 70);
}

/* .page >>> blockquote::before {
  content: open-quote;
}
.page >>> blockquote::after {
  right: 0;
  content: close-quote;
} */
/* .page>>>p code {
  border-radius: 0.2em;
  padding: 0.1em 0.4em;
  background-color: #f5f5f5;
} */
.page>>>pre code {
  background-color: transparent;
  margin: 0;
  padding: 0;
  color: rgb(212, 214, 214);
  box-shadow: 0px 0px 0px 0px transparent;
}
.page>>>pre code::before{
  content: "";
}
.page>>>pre code::after{
  content: "";
}

/* .page>>>.hljs-comment {
  color: rgb(124, 175, 102);
} */

/* .page>>>strong {
  font-weight: 900;
} */

.page>>>.table-of-contents {
  padding: 0 0 1em 0;
  border-bottom: solid 2px #d7d7d7;
  background-color: #fafafa;
}
.page>>>.table-of-contents::before {
  display: block;
  font-weight: 600;
  color: #494949;
  width: 100%;
  padding-left: 1em;
  content: "目次";
  font-size: 1.5em;
  margin-bottom: 1em;
  color: #494949;
  border-top: solid 2px #d7d7d7;
  border-bottom: solid 2px #d7d7d7;
}
.page>>>.table-of-contents a {
  color: #494949;
}