.post-tag {
  color: #35495e;
}
.post-tags >>> a:hover {
  border-bottom: none;
}
.post-tags {
  display: inline-block;
  margin-top: 0.5em;
}
.post-tag {
  display:inline-block;
  border: solid 1px #e6e6e6;
}
.post-tag:hover {
  color: rgb(187, 25, 87);
}
@media screen and (max-width: 767px) {
  .post-tag {
    margin: 0 0.5em 0 0;
    border-radius: 1em;
    padding: 0.1em 0.5em;
  }
}
@media screen and (min-width: 768px) {
  .post-tag {
    margin: 0 1em 0 0;
    border-radius: 1em;
    padding: 0.1em 0.5em;
  }
}