.markdown p {
  word-break: break-all;
}

.markdown a {
  cursor: pointer;
  color: #0070f3;
  border-color: #0070f3;
  width: 600px;
  word-break: break-all;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  text-decoration: underline;
  color: #0070f3;
  border-color: #0070f3;
}

.markdown img {
  margin: auto;
  display: block;
  max-height: 400px;
  max-width: 600px;
  height: auto;
  border-radius: 5px;
}

.markdown blockquote {
  margin: 0;
  padding: 1em;
  border-left: 3px #1d2f43 solid;
}

.markdown code {
  padding: 0.2em 0.4em;
  background: #215aa012;
  border-radius: 4px;
}

@media (max-width: 600px) {
  .markdown img {
    max-width: 100%;
    height: auto;
  }
}
