.postDate {
  color: #686868;
}

.postDate a {
  color: #686868;
  text-decoration: none;
}

.postDate a:hover,
.postDate a:focus,
.postDate a:active {
  color: #686868;
  text-decoration: underline;
}
