.card {
  padding: 1.5rem 0;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border-bottom: 1px solid #eaeaea;
  width: 600px;
}

.card .title {
  display: inline-block;
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
  font-weight: 700;
}

.card .title:hover,
.card .title:focus,
.card .title:active {
  cursor: pointer;
  color: #0070f3;
  border-color: #0070f3;
}

.card > p {
  display: inline-block;
  margin: 0;
}

.card > p:hover,
.card > p:focus,
.card > p:active {
  cursor: pointer;
  color: #0070f3;
  border-color: #0070f3;
}

.description {
  padding-bottom: 1em;
}

.card > time {
  color: #686868;
  display: block;
  position: relative;
  text-align: right;
  padding-top: 1em;
}

.imageWrapper {
  position: relative;
  display: flex;
  width: 600px;
  height: 400px;
  margin: auto;
  text-align: center;
}

.imageWrapper > img {
  max-width: 600px;
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }

  .imageWrapper {
    width: 300px;
    height: 200px;
  }

  .imageWrapper > img {
    max-width: 300px;
  }
}
